<section class="plct-newsletter-section">
  <div class="newsletter-container">
    <h2 class="newsletter-header">{{T "newsletter_header"}}</h2>
    <p class="newsletter-desc">{{ T "newsletter_description" }}</p>

    <form
      action="https://ruyisdk.us13.list-manage.com/subscribe/post?u=a7bba3aa9de6214adf1c66d82&amp;id=a894094570&amp;f_id=00e7d1edf0"
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter-form"
      target="_blank">
      <div class="newsletter-input-wrapper">
        <input type="email" name="EMAIL" placeholder="{{ T "enteremail" }}" id="newsletter-form--input" required />
        <input type="submit" name="subscribe" id="newsletter-form--submit" class="newsletter-button"
          value="{{ T "joinus" }}" />
      </div>

      <div id="mce-responses" class="newsletter-responses">
        <div class="response" id="mce-error-response" style="display: none;"></div>
        <div class="response" id="mce-success-response" style="display: none;"></div>
      </div>

      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input type="text" name="b_a7bba3aa9de6214adf1c66d82_a894094570" tabindex="-1" value="" />
      </div>
    </form>
  </div>
</section>