<header class="plct-header">
  <nav class="plct-nav container">
    <a class="logo" href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a>

    <button class="nav-toggle" id="js-navbar-toggle" aria-label="Toggle Menu">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="12" height="12" fill="#000">
        <rect y="4" width="24" height="2" rx="1" />
        <rect y="11" width="24" height="2" rx="1" />
        <rect y="18" width="24" height="2" rx="1" />
      </svg>
    </button>

    <ul class="plct-menu" id="js-menu">
      {{ range .Site.Menus.main }}
      <li class="menu-item {{ if .HasChildren }}has-children{{ end }}">
        {{ if .HasChildren }}
        <a href="#" class="menu-link">{{ .Name }}</a>
        <ul class="sub-menu">
          {{ range .Children }}
          <li><a href="{{ .URL | relURL }}" class="menu-link">{{ .Name }}</a></li>
          {{ end }}
        </ul>
        {{ else }}
        <a href="{{ .URL | relURL }}" class="menu-link">{{ .Name }}</a>
        {{ end }}
      </li>
      {{ end }}

      {{ range .Site.Languages }}
      {{ $translations := where $.Translations "Lang" .Lang }}
      {{ $translated := "" }}
      {{ if gt (len $translations) 0 }}
      {{ $translated = index $translations 0 }}
      {{ end }}
      {{ if $translated }}
      <li class="menu-item lang-switch">
        <a class="menu-link{{ if eq $.Site.Language.Lang .Lang }} active-lang{{ end }}"
          href="{{ $translated.RelPermalink }}">
          {{ .LanguageName }}
        </a>
      </li>
      {{ else }}
      {{ $langHome := site.GetPage .Lang }}
      {{ if $langHome }}
      <li class="menu-item lang-switch">
        <a class="menu-link{{ if eq $.Site.Language.Lang .Lang }} active-lang{{ end }}"
          href="{{ $langHome.RelPermalink }}">
          {{ .LanguageName }}
        </a>
      </li>
      {{ end }}
      {{ end }}
      {{ end }}
    </ul>
  </nav>
</header>